*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:10px 20px;
    position: fixed;
    width: 100%;
}

.nav > h1{
    font-size: 40px;
    background: linear-gradient(to right, blue,aqua);
    -webkit-background-clip: text;
    color: transparent;
}

.nav > ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav> ul > li{
    list-style: none;
    font-size: 20px;
    transition: 1s all linear;
}

.nav li:hover{
    border-bottom: 3px solid black;
    cursor: pointer;
    color: blue;
}

.nav > h2{
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 5px 12px;
}

.front{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1570129477492-45c003edd2be?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
 } 

.front > h1{
    text-align: center;
    font-size: 90px;
}

.front > .input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
}

.input > input{
    width: 450px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    
}

.search{
    position: absolute;
    right: 35%;
    font-size: 20px;
}

.page2{
    width: 100%;
}

.page2 > .box{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 20px 90px;
}

.box > .boxes{
    width: 300px;
    height: 400px;
    border: 1px solid grey;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px ;
}

.boxes > img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
}

.boxes > h1{
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.boxes > p{
    padding:10px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.boxes > h3{
    padding:  20px;
    color: rgb(75, 163, 221);
}

.page2> .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 40px;
}
.left,.middle, .right{
        margin-right: 20px;
        width: 350px;
    }

.page2 .icons{
    font-size: 60px;
    padding-left: 130px;
    color:rgb(33, 120, 179);
}
h2{
    padding: 20px 0;
    text-align: center;
}
p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(85, 81, 81);
}

footer{
    background-color: rgb(24, 23, 23);
    color: white;
    display: flex;
    justify-content: space-between;
}

footer > .foot1{
    margin:  40px;
}

.foot1 > h1, .foot2>h1, .foot3>h1{
    font-size: 25px;
    font-weight: 900;
    color: rgb(8, 83, 133);
}

.foot1 > ul{
    display: flex;
    flex-direction: column;
    padding:  10px 0;
}

.foot1 ul > li{
    list-style: none;
    padding: 7px 0;
    font-size: 20px;
    cursor: pointer;
}

footer > .foot2, .foot3{
    margin: 40px;
}

.foot2 > h2{
    font-size: 18px;
    padding: 8px 0;
}

.foot3 > button{
    padding: 5px 8px;
    background-color: rgb(8, 83, 133);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 8px;
}